*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}
.img{
    background-image: url("/assets/images/background-pattern-desktop.svg");
}
.title{
    display: none;
}
.accor{
    display: block;
}